#main-row {
  height: 620px;
}
img {
  width: 150px;
  height: 150px;
  margin-top: 10%;
  margin-bottom: 10%;
  /* border: gray solid 5px; */
}

ul {
  list-style: none;
}

a {
  color: white;
  font-style: none;
}

/* .one {
  border: 3px solid rgb(43, 41, 41);
} */
